* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8efd4;
}

.App {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  margin: 3rem auto;
}
.title {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: #edc988;
  /* height: 50vh; */
  align-items: center;
}
.card {
  margin: 2rem auto;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
  border-radius: 1rem;
}
.card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
}
.card p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.card .name {
  display: table;
  width: auto;
  background: #d7385e;
  padding: 2px 20px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
  margin: 14px auto;
}

.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #132743;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  max-width: inherit;
  margin-bottom: 2px;
}
.noReviews {
  text-align: center;
  line-height: 400px;
  font-size: 2rem;
}
